<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03_计算属性和监视</title>
</head>
<body>
<!--
1. 计算属性
  在computed中定义计算属性方法根据已有的数据进行计算返回一个要显示的新数据
  在页面中使用{{计算属性名}}来显示返回的数据
  computed VS method: 内部有缓存, 多处读取只计算一次
  计算属性默认相当于只有getter来根据已有数据计算返回一个新数据值, 也可以指定setter来监视我们主动修改当前计算属性值

2. 监视/侦听器
  通过watch配置或vm的$watch()来监视指定的属性值的变化
  当属性变化时, 回调函数自动调用, 在函数内部进行特定处理
  watch VS computed
    如果是根据已有数据, 来动态同步确定一个新的数据值那一般都选择computed
    watch可以做异步操作(如ajax请求)后才确定新的数据值
    watch还有一个很大特点可以对数组或对象数据进行深度(deep)监视  ===> 后面练习用
-->
<div id="demo">
  <!-- 
    模板中读取属性数据和执行函数都是找的vm对象
    模板中从来不用写this或vm
   -->
  姓: <input type="text" placeholder="First Name" v-model="firstName"><br>
  名: <input type="text" placeholder="Last Name" v-model="lastName"><br>
  <p>姓名(复杂的插值表达式): {{firstName + '-' + lastName}}</p>
  <p>姓名(方法): {{getFullName()}}</p>
  <p>姓名(方法): {{getFullName()}}</p>
  <p>姓名(计算属性): {{fullName1}}</p>
  <p>姓名(计算属性): {{fullName1}}</p>
  <p>姓名(监视): {{fullName2}}</p>

  <p>人员信息详情(异步获取): {{personInfo}}</p>

  姓名: <input type="text" placeholder="Last Name" v-model="fullName3"><br>

</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">

  // 全局配置不要显示不是vue生产环境包的提示
  Vue.config.productionTip = false

  const vm = new Vue({
    el: '#demo',
    data () { // data也可以是返回对象的函数
      return {
        firstName: 'A',
        lastName: 'B',
        fullName2: 'A-B',
        personInfo: '', // 开始没有, 需要根据fullName2去异步请求获取
      }
    },

    // 定义计算属性
    computed: {

      /* 
      1. 什么时候执行?   初始显示执行第一次 / 一旦依赖数据发生改变就会再次执行
      2. 用来做什么的? 将执行返回的结果作为计算属性值
      3. this是谁? this是vm对象   ===> 只要是vue控制的回调函数都是vm对象
      */
      fullName1 () {  // 相当于监视了firstName和lastName
        console.log('computed fullName1')
        return this.firstName + '-' + this.lastName
      },

      fullName3: {
        // 与上面是一样的
        get () {
          console.log('computed fullName3 getter')
          return this.firstName + '-' + this.lastName
        },

        /* 
        1. 什么时候执行?  当fullName3设置了新的值时自动调用
        2. 用来做什么的? 监视当前值的变化  ===> 不是用来设置当前属性值的
        3. this是谁? this是vm对象   ===> 只要是vue控制的回调函数都是vm对象
        */
        set (value) { // value是fullName3最新的值  // A4-B3
          console.log('computed fullName3 setter', value)

          const names = value.split('-')  // [A4, B3]
          // 更新firstName和lastName
          this.firstName = names[0]
          this.lastName = names[1]
        }
      }

      /* 
      // 不能异步确定返回一个数据, 只能同步返回要显示的数据
      personInfo () {
        setTimeout(() => {
          const personInfo = this.fullName2 + '信息详情数据...'
          return personInfo
        }, 1000);
        // return undefined
      } */

    },

    methods: { // methods中所有的方法都会成为vm的方法
      getFullName () {
        console.log('getFullName()', this)  // this就是vm
        return this.firstName + '-' + this.lastName
      }
    },

    watch: {
      // 监视firstName, 一旦firstName发生变化, 自动调用
      firstName (value) {
        console.log('watch firstName', value)
        // 更新fullName2
        this.fullName2 = value + '-' + this.lastName
      },

      // lastName (value) {
      //   console.log('watch lastName', value)
      //   // 更新fullName2
      //   this.fullName2 = this.firstName + '-' + value
      // }

      fullName2: {
        handler (value) {
          console.log('handler fullName2 ()')
          // 一旦它发生变化, 就去发请求获取人员详情
          // 模拟发请求
          setTimeout(() => {
            // 得到数据
            const personInfo = this.fullName2 + '信息详情数据...'
            // 更新
            this.personInfo = personInfo
          }, 1000);
        },
        immediate: true, // 一上来就会执行一次监视的回调 ==> 默认是只有发生改变时才调用
      }
    },
  })

  // 监视lastName
  vm.$watch('lastName', function (value) {
    console.log('$watch lastName', value)
    // 更新fullName2
    this.fullName2 = this.firstName + '-' + value
  })

  vm.fullName3 = 'xxx-yyy'  // 触发计算属性的set方法调用
  console.log(vm.fullName3) // 触发计算属性的get方法调用

  /* 
  确定回调函数的3个问题
  1. 什么时候执行?
  2. 用来做什么的?
  3. this是谁?
  */
</script>
</body>
</html>